html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: arial, sans-serif;
  overflow: hidden;
  position: relative;
}

.app-view {
  height: inherit;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 5px;
  min-height: 50px;
}

.notifications{
  display:flex;
  align-items: center;
  color:#666;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: white;
  background-color: hsl(33,90%,60%);
  margin: 5px 0;
}

#app-navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color:#333;
}

#app-navigation li{
  height: inherit;
}

.nav-button{
  text-decoration: none;\
  color:inherit;
  display: flex;
  align-items: center;
  padding: 12px;
  height: 100%;
  box-sizing: border-box;
  color:#333333;
}

.content {
  background-color: aliceblue;
  flex: auto;
}

.footer {
  height: 50px;
}

#task-form {
  display: flex;
}

#task-form input {
  flex: auto;
  box-sizing: border-box;
  padding: 5px;
  font-size: 18px;
}

#task-form button {
  width: 50px;
  height: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}


/*signup and login forms*/

.credentials {
  max-width: 480px;
  min-width: 340px;
  margin: 0 auto;
  background-color: white;
  padding: 0 0 10px 0px;
  font-size: 18px;
  border-radius:10px;
  color:#888;
	overflow:hidden;
}
.credentials h2{
  text-align: center;
  margin:0;
  padding:22px 10px 22px 10px;
  font-size:20px;
	background-color:#dddddd;
	font-weight: 200;
	color:#666666;
}
.credentials-content{
  margin:0 10px;
	box-sizing: border-box;
}
.credentials label {
  display: block;
  width: 100%;
  margin: 15px 0 5px 0;
  box-sizing: border-box;
}

.credentials input {
  display: block;
  width: 100%;
  margin: 5px 0 15px 0;
  padding: 10px 5px;
  font-size: 18px;
	border:1px solid #cccccc;
  border-radius:4px;
  box-sizing: border-box;
}

.credentials button {
  display: block;
  width: 150px;
	font-size:16px;
  margin: 0 auto;
  padding: 12px;
  background-color: linear-gradient(#cccccc,#dddddd);
  color: #333333;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
.close::after{
  content:"\00d7";
  margin-left:auto;
  margin-right:0;
  display:inline-block;
  padding:5px;
  float:right;
}
.alt-link{
	display: block;
	margin-top:20px;
	padding:10px;
	margin:5px 0;
	text-decoration: none;
}
.hide {
  display: none;
}

/*task list and task items*/
#task-list{
  list-style:none;
  margin:0;
  padding:0;
}
.task{
  padding:10px 5px;
  background-color:white;
  border-bottom:1px solid #cccccc;
  color:#666666;
  font-size:22px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
/*container for buttons next to each task*/
.task-buttons{
  width:80px;
  border-left:1px solid #ccc;
  display:flex;
}
/*container for task name*/
.task-name{
  flex:auto;
  word-break: break-all;
} 
/*text for task that has been marked as done*/
.task[data-status="1"] .task-name{
  text-decoration: line-through;
  color:lightblue;
}
/*buttons next to each task*/
.task-buttons button{
  background-color:transparent;
  color:#888;
  border:transparent;
  height:100%;
  font-size:18px;
  outline:none;
  flex:1 0 0;
  transition: width 1s;
}
/*buttons for task that has been marked as done*/
.task[data-status="1"] button{
  color:lightblue;
  text-decoration:none;
}

/*the tick button next to task that has been marked as done*/
.task[data-status="1"] button[data-function="task-done"]{
  overflow:hidden;
  color:#ccc;
  text-decoration:none;
}


